.Rproj.user
.Rhistory
.RData
.Ruserdata
AMF_US_TON_Fluxnet_daily_2001_2021.csv
REddyResults_xSR_20240323_587474645
AMF_US-MOz_FLUXNET_SUBSET_2004-2019_3-5
AMF_US-Ton_FLUXNET_SUBSET_2001-2021_3-5
xSR_ReddyProc_Input_2023.txt
AMF_US_MOz_Fluxnet_daily_2004_2019.csv 
xSR_needs_partitioning.csv
